{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock title %}

{% block content %}
<style>
    form, h4{

        text-align: center;
        }
     button{
            margin-left: 12rem;
            margin-top: 1rem;
        }
     .form-group {
            margin-bottom: 0rem !important;
        }

        .card-header {
            background-color: rgb(143, 188, 143) !important;
        }
    label{
        width: 6rem !important;
    }

    #div_id_username, #div_id_password{
        display: flex;
        margin-bottom: 1rem !important;
    }


</style>

  <div class="card">
              <div class="card-header">
                <h4>Log In</h4>
              </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success ml-2" type="submit">Log In</button>
                </form>
            </div>
        </div>
{% endblock content %}