{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
  .card-header {
			background-color: rgb(143, 188, 143) !important;
		}
  form > div{
			display:flex;
			margin-bottom: 1rem !important;
		}
  label{
	width:12rem;
}

</style>
<div class="card">
              <div class="card-header">
                <h4>Reset password</h4>
              </div>
            <div class="card-body">
				<form method="POST" class="form-signin">{% csrf_token %}
					<input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
					<a class="btn btn-primary" href="{% url 'password_reset' %}" role="button">Send reset email</a>
				</form>
            </div>
</div>






{% endblock %}