{% extends 'base.html' %}

{% block title %}Change Password Page{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    form, h4{

        text-align: center;
        }

        .card-header {
            background-color: rgb(143, 188, 143) !important;
        }
        form > div{
            display:flex;
            margin-bottom: 1rem !important;
        }
        label{
            width:12rem;
        }
</style>
 <div class="card">
              <div class="card-header">
                <h4>Change Password</h4>
              </div>
            <div class="card-body">
                 <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <a class="btn btn-primary " href="{% url 'login' %}" role="button">Back</a>
                        <button type="submit">Submit</button>
                 </form>
            </div>
 </div>
{% endblock content %}